<div class="container">
<h2>Your Profile </h2>
<div class="row">
    <div class="col-md-6">
        <div class="control-group form-group">
            <div class="controls">
                <p> First Name : <span><%= user.firstName %></span></p>
                <p> Last Name : <span><%= user.lastName %></span></p>
                <p> email : <span><%= user.email%></span></p>
                <p> phone : <span><%= user.phone %></span></p>
                <p> Country : <span><%= user.country%></span></p>
                <p> family : <span><%= user.family %></span></p>
                

                <p class="help-block"></p>
            </div>
        </div>
        
    </div>
    <br>


    <br>



    
    <a class="btn btn-primary" href="/relative/new">Add a relative sin user id</i></a>

</div>
</div>